body {
  background: #e5e5e5;
}

.loader-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: #f0e5e5ad;
}
.loader{
  left: 45%;
  top: 30%;
  z-index: 1000;
  position: absolute;
}

.container {
  width: 500px;
  margin: 10px auto;
  background-color: #ffffff;
  height: 700px;
}

.msg-wrapper {
  padding: 10px 20px;
  position: relative;
}

.msg-content {
  height: 504px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0px 20px;
}

.message-right {
  display: inline-block;
  padding: 10px 10px 10px 10px;
  border-radius: 5px 5px 0px 5px;
  float: right;
  color: #ffffff;
  background-color:#5db075;
  position: relative;
}

.message-right:after {
  content: "";
  position: absolute;
  margin-top: -6px;
  margin-left: -7px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 13px solid #5db075;
  transform: rotate(44deg);
  bottom: -12px;
  top: 9px;
  right: -20px;
}

.message-left {
  display: inline-block;
  padding:5px 6px 8px 6px;
  border-radius: 5px 5px 5px 0px;
  float: left;
  color:black;
  background-color:#f6f6f6;
  position: relative;
  border: 1px solid #e8e8e8;
}

.message-left:before {
  content: "";
  position: absolute;
  margin-top: -6px;
  margin-left: -7px;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 11px solid #e8e8e8;
  transform: rotate(-45deg);
  top: 38px;
  left: -1px;
}

.message-left:after {
  content: "";
  position: absolute;
  margin-top: -6px;
  margin-left: -7px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #f6f6f6;
  transform: rotate(-45deg);
  top: 37px;
  left: 1px; 
}

.sender-name {
  margin-bottom: 3px;
  margin-left: 5px;
}

.message-form {
  position: absolute;
  bottom: -73px;
  width: 447px;
}

.join-btn-wraper {
  position: absolute;
  bottom: -73px;
  width: 447px;
}

.msg-field {
  margin-left: -10px;
  width: 100%;
  position: relative;
  height: 50px;
  border-radius: 25px;
  padding-left: 15px;
  padding-right: 55px;
  background: #f6f6f6;
  border: 1px solid #e8e8e8;
}

.send-btn {
  position: absolute;
  right: 17px;
  top: 5px;
  background: #5db075;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 24px;
  text-align: center;
  line-height: 40px;
  color: #ffffff;
}

input.msg-field:focus, input.field:focus {
  outline-width: 0;
}

.top-title {
  position: relative;
  text-align: center;
  padding-bottom: 20px;
}

.btn-exit {
  position: absolute;
  left: 0px;
  top: 29px;
  color: #5db075;
  font-size: 14px;
  font-weight: bold;
}

.form-container {
  padding: 10px 20px;
  position: relative;
  height: 600px;
}

.bold {
  font-weight: bold;
}

.form-gg {
  margin-top: 20px;
}

.field {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  padding: 10px 20px;
  background: #f6f6f6;
  border: 1px solid #e8e8e8;
}

.roomid-field {
  margin-top: 15px;
}

.join-btn {
  height: 50px;
  width: 100%;
  margin-left: -10px;
  background: #5db075;
  border: none;
  color: #ffffff;
  border-radius: 25px;
  font-size: 20px;
}

button.join-btn:hover {
  background: #65ae7a;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #e8e8e8; 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #e8e8e8; 
}

.msg-line {
  margin-top: 10px;
}